body {
    margin: 0;
    background-color: #ebebeb;
}

#navbar {
    width: 300px;
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
    z-index: 1;
    /* background-color: #00004d; */
    background-color: #2B3E50;
    color: #ffffff;
}

.main-nav-header {
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    background-color: #2ACB72;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    padding: 15px 40px;
    border-top: 1px solid #000033;
    text-transform: uppercase;
}


#navbar ul li a {
    text-decoration: none;
    color: #ffffff;
}

#navbar ul li a:hover {
    color: #2ACB72;
}

main {
    margin-left: 320px;
}

.main-section {
    padding: 30px 30px 0 30px;
}

.sectionTitle {
    border-bottom: 3px solid #2ACB72;
    padding-bottom: 10px;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.sectionParagraph {
    line-height: 1.5;
}

code {
    color: #2ACB72;
}

@media only screen and (max-width: 768px) {
    #navbar {
        width: 100%;
        max-height: 275px;
    }

    #navbar ul {
        overflow-y: scroll;
        height: 207px;
    }

    main {
        position: relative;
        margin-top: 270px;
        margin-left: 0;
    }
}
